	/* Bienvenue dans mon style.css je vous souhaite un agréable visionnage */



/* ------ Nav Bar Style ------ */

		/* style encadrement navbar */
		.navul{
		list-style-type: none;
		margin: 25px;
		padding: 10px;
		background-color: #333;

		/* lien nav */
		}
		.nav{
		display: inline;
		color: #000;
		padding: 0px 50px;
		}

		li a {
		display: inline;
		color: white;
		text-align: center;
		padding: 14px 25px;
		text-decoration: none;
		font-size: 125%;

		}

		/* survolement curseur nav */
		li a:hover {
		background-color: #111;
		cursor:crosshair;
		}

		/* Alignement du texte au centre */
		.center
		{
		text-align: center;
		}

/* -------- Titre -------- */

		/* style du titre */
		.bgblack{
		border:3px inset orange;
		background: black;
		color : orange;
		font-family : arial;
		text-align: center;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		border-radius: 50px;
		}

/* ------- Infos persos ----- */

		/*encadrement pour infos perso*/
		.borderhead {
		margin: 50px;
		padding: 50px;
    		border: 3px solid orange;
		border-radius: 5px;
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
		border-width: 5px;
		}

		/* RUperez Romain */
		.name{
		font-size: 150%;
		text-align: center;
		text-decoration: underline;
		letter-spacing: 3px;
		text-shadow: 2px 2px orange;
		}

		/*  infos perso */
		.infos {
		padding-left: 20px;
		border: 1px none black;
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
		border-radius: 5px;
		font-size: 20px;
		}
		

		/* Police orange */
		.policeor{
		color: orange;
		}

		/* modif affichage de la liste sur une seule ligne */
		.inline{
		display: inline;
		padding-left:100px;
		text-align: center;
		}

/* ------- Sections ----- */

		/* style des sous titres par section*/
		.bgblanc{
		border: 3px inset white;
		width: 300px;
		border-radius: 50px;
		background: white;
		color: black;
		font-family: arial;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
		text-align: center;
		}

		
		/* positionnement EXPERIENCES */
		.exp{
		position: relative;
		left : 25% ;
		top: -90px ;
		}

		

/* ------ BACKGROUND ------ */

		/* background color */
		body{
		background-color: #d7f6ff;
		}

		.img {
		float: left
		z-index: -1;
    position: absolute;
		}
